// COLOR VARIABLES

//************************************************************

$black: black;

//************************************************************


.App {
  color: $black;
  font-family: helvetica;
}
