
$font: Helvetica, sans-serif;
$font-color: #606060;

$primary-color: #663AB2;
$secondary-color: #5D5D5D;
$gray: #E3E3E3;
$p-text: #919191;
$light-purple: #BB91F9;

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  color: $font-color;
  list-style-type: none;
}

button {
  background: none;
  border: none;
  padding: 5px;
  border-radius: 3%;
  background-color: $primary-color;
  color: white;
}

button:hover {
  background-color: $light-purple;
}