.header-title {
  font-family: 'Amatic SC', cursive;
  color: white;
  letter-spacing: 5px;
  font-weight: 900;
  font-size: 30px;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 90%;
    left: 0;
    background-color: #3D9970;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}